<div class="search">
  <form action="" #form="" (submit)="onSubmit()">
    <input type="text" placeholder="Search city" name="city" [(ngModel)]="cityName">
  </form>
</div>

<div class="container" *ngIf="weatherData">
  <div class="upper-data">
    <img src="../assets/hot.jpg" alt="" *ngIf="(weatherData.main.temp -32)/1.8 > 15">
    <img src="../assets/cold.png" alt="" *ngIf="(weatherData.main.temp -32)/1.8 <= 15">

    <div class="weather-data">
      <div class="location">
        {{ weatherData.name }}, {{ weatherData.sys.country }}
      </div>
      <div class="temperature">
        {{ (weatherData.main.temp-32)/1.8 | number: '1.0-0'}}⁰C
      </div>
    </div>
  </div>
  
  <div class="lower-data">
    <div class="more-infor-label">
      More Information
    </div>
    <div class="more-infor-container">
      <div class="infor-block">
        <div class="infor-block-label">
          <img src="../assets/cold-temp.png" alt="">
          <span>min</span>
        </div>
        <div class="infor-block-value">
          {{(weatherData.main.temp_min-32)/1.8  | number: '1.0-0'}}⁰C
        </div>
      </div>

      <div class="infor-block">
        <div class="infor-block-label">
          <img src="../assets/1.jpg" alt="">
          <span>max</span>
        </div>
        <div class="infor-block-value">
          {{(weatherData.main.temp_max-32)/1.8  | number: '1.0-0'}}⁰C
        </div>
      </div>

      <div class="infor-block">
        <div class="infor-block-label">
          <img src="../assets/high temp.jpg" alt="">
          <span>humidity</span>
        </div>
        <div class="infor-block-value">
          {{weatherData.main.humidity}}%
        </div>
      </div>

      <div class="infor-block">
        <div class="infor-block-label">
          <img src="../assets/high temp.jpg" alt="">
          <span>wind</span>
        </div>
        <div class="infor-block-value">
          {{weatherData.wind.speed | number: '1.0-0'}} km/h
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>